name: Build

on:
  push:
    paths-ignore:
      - '.github/**'
      - '!.github/workflows/**'
      - 'README.md'
      - 'rust/**'
  pull_request:
    paths-ignore:
      - '.github/**'
      - '!.github/workflows/**'
      - 'README.md'
      - 'rust/**'

jobs:
  BuildWindows:
    name: Build on Windows
    runs-on: windows-latest
    steps:
    - name: Clone
      uses: actions/checkout@v4
    - name: Install Qt
      uses: jurplel/install-qt-action@v4
      with:
        setup-python: false
    - name: Build libfatx
      shell: bash
      run: |
        pushd libfatx
        cmake -Bbuild -S. -DCMAKE_INSTALL_PREFIX=$PWD/../install
        cmake --build build --parallel --verbose --target install
        popd
    - name: Build gfatx
      shell: bash
      run: |
        pushd gfatx
        cmake -Bbuild -S. -DCMAKE_PREFIX_PATH=$PWD/../install
        cmake --build build --parallel --verbose --target gfatx
        popd

  BuildUbuntu:
    name: Build on Ubuntu
    runs-on: ubuntu-latest
    steps:
      - name: Clone
        uses: actions/checkout@v4
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo DEBIAN_FRONTEND=noninteractive apt-get install -qy \
            build-essential pkg-config libfuse-dev cmake git qt6-base-dev qt6-tools-dev qt6-tools-dev-tools
      - name: Build libfatx
        shell: bash
        run: |
          pushd libfatx
          cmake -Bbuild -S. -DCMAKE_INSTALL_PREFIX=$PWD/../install
          cmake --build build --parallel --verbose --target install
          popd
      - name: Build gfatx
        shell: bash
        run: |
          pushd gfatx
          cmake -Bbuild -S. -DCMAKE_PREFIX_PATH=$PWD/../install
          cmake --build build --parallel --verbose --target gfatx
          popd
      - name: Build fatxfs
        shell: bash
        run: |
          pushd fatxfs
          cmake -Bbuild -S. -DCMAKE_PREFIX_PATH=$PWD/../install
          cmake --build build --parallel --verbose --target install
          popd
      - name: Test fatxfs
        run: |
          pushd fatxfs
          ./test.sh
      - name: Test pyfatx
        run: |
          pushd pyfatx

          mkdir venv
          python -m venv venv
          source venv/bin/activate

          pip install .
          cd tests
          python test.py

  BuildDocker:
    name: Build Docker image on Ubuntu
    runs-on: ubuntu-latest
    steps:
      - name: Clone
        uses: actions/checkout@v4
      - name: Build
        run: docker build -t fatx .
      - name: Test
        run: |
          docker run --rm -v $PWD/fatxfs:/work -w /work \
            --device /dev/fuse --privileged fatx ./test.sh

  BuildMacos:
    name: Build on macOS
    runs-on: macos-latest
    steps:
      - name: Clone
        uses: actions/checkout@v4
      - name: Install dependencies
        run: |
          export HOMEBREW_NO_AUTO_UPDATE=1
          export HOMEBREW_NO_INSTALL_CLEANUP=1
          brew install macfuse qt@6
      - name: Build libfatx
        shell: bash
        run: |
          pushd libfatx
          cmake -Bbuild -S. -DCMAKE_INSTALL_PREFIX=$PWD/../install
          cmake --build build --parallel --verbose --target install
          popd
      - name: Build gfatx
        shell: bash
        run: |
          export PATH="/usr/local/opt/qt@6/bin:$PATH"
          export LDFLAGS="-L/usr/local/opt/qt@6/lib"
          export CPPFLAGS="-I/usr/local/opt/qt@6/include"
          export PKG_CONFIG_PATH="/usr/local/opt/qt@6/lib/pkgconfig"

          pushd gfatx
          cmake -Bbuild -S. -DCMAKE_PREFIX_PATH=$PWD/../install
          cmake --build build --parallel --verbose --target gfatx
          popd
      - name: Build fatxfs
        shell: bash
        run: |
          pushd fatxfs
          cmake -Bbuild -S. -DCMAKE_PREFIX_PATH=$PWD/../install
          cmake --build build --parallel --verbose --target install
          popd
      # XXX: Can't install extension to run macfuse on GH actions apparently. This will hang.
      # - name: Test fatxfs
      #   run: |
      #     pushd fatxfs
      #     ./test.sh
      - name: Test pyfatx
        run: |
          pushd pyfatx

          mkdir venv
          python -m venv venv
          source venv/bin/activate

          pip install .
          cd tests
          python test.py

  build_sdist:
    name: Build Python source distribution
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v6
        with:
          python-version: '3.13'
      - name: Build sdist
        run: |
          pushd pyfatx
          pip install build
          python -m build --sdist
      - uses: actions/upload-artifact@v6
        with:
          name: source
          path: pyfatx/dist/*.tar.gz

  build_wheels:
    needs: build_sdist
    name: Build wheel (${{ matrix.py }}, ${{ matrix.platform.wheel_tag }})
    runs-on: ${{ matrix.platform.os }}
    strategy:
      matrix:
        py: [cp313, cp314]
        platform:
          - { arch: x86_64,  os: windows-latest,   wheel_tag: win_amd64         }
          - { arch: x86_64,  os: macos-15-intel,   wheel_tag: macosx_x86_64     }
          - { arch: arm64,   os: macos-latest,     wheel_tag: macosx_arm64      }
          - { arch: x86_64,  os: ubuntu-latest,    wheel_tag: manylinux_x86_64  }
          - { arch: aarch64, os: ubuntu-24.04-arm, wheel_tag: manylinux_aarch64 }
    steps:
      - name: Download source distribution
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: source
      - name: Unpack source distribution
        shell: bash
        run: tar --strip-components 1 -xvf *.tar.gz
      - name: Build wheel
        uses: pypa/cibuildwheel@298ed2fb2c105540f5ed055e8a6ad78d82dd3a7e # v3.3.1
        with:
          output-dir: wheelhouse
        env:
          CIBW_ARCHS_MACOS: ${{ matrix.platform.arch }}
          CIBW_BUILD: ${{ matrix.py }}-${{ matrix.platform.wheel_tag }}
          CIBW_TEST_COMMAND: python -m unittest discover -v -s {package}/tests
          CIBW_BUILD_VERBOSITY: 1
          MACOSX_DEPLOYMENT_TARGET: ${{ matrix.platform.arch == 'arm64' && '11' || '10.14' }}
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: ${{ matrix.py }}-${{ matrix.platform.wheel_tag }}
          path: ./wheelhouse/*.whl

  upload_pypi:
    needs: [build_wheels, build_sdist, BuildWindows, BuildUbuntu, BuildDocker, BuildMacos]
    name: Upload Python distribution to PyPI
    runs-on: ubuntu-latest
    # upload to PyPI on every tag starting with 'v'
    if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags/v')
    steps:
      - uses: actions/download-artifact@v7
        with:
          path: artifacts
      - run: |
          mkdir dist
          find artifacts -type f -exec mv {} dist \;
      - uses: pypa/gh-action-pypi-publish@master
        with:
          user: __token__
          password: ${{ secrets.PYPI_TOKEN }}
